rasa:
  enabled: true
  image:
    repository: "europe-west3-docker.pkg.dev/rasa-releases/rasa-pro/rasa-pro"
    pullPolicy: IfNotPresent
    tag: "3.14.0rc2"
  volumeMounts:
    - name: amazon-root-ca
      mountPath: /app/AmazonRootCA1.pem
      subPath: AmazonRootCA1.pem
      readOnly: true
  volumes:
    - name: amazon-root-ca
      secret:
        secretName: msk-ssl-ca
  # Configure the service account which allows Rasa to interact with AWS resources like reading data from Cloud Storage buckets.
  serviceAccountName: rasa-assistant
  serviceAccount:
    create: true
    name: rasa-assistant
    annotations:
      eks.amazonaws.com/role-arn: ${SERVICE_ACCOUNT_ASSISTANT}
  settings:
    enableApi: true
    credentials:
      enabled: true
      additionalChannelCredentials:
        socketio:
          bot_message_evt: bot_uttered
          metadata_key: customData
          session_persistence: false
          user_message_evt: user_uttered
        rest: { }
    endpoints:
      modelGroups:
      - id: openai-gpt-4o
        models:
        - max_tokens: 256
          model: gpt-4o-2024-11-20
          provider: openai
          request_timeout: 7
      - id: openai-embeddings
        models:
        - model: text-embedding-3-small
          provider: openai
      - id: anca-bedrock
        models:
          - provider: bedrock
            model: anthropic.claude-3-7-sonnet-20250219-v1:0
            model_id: arn:aws:bedrock:us-east-1:536697270625:inference-profile/us.anthropic.claude-3-7-sonnet-20250219-v1:0
            aws_region_name: us-east-1
            request_timeout: 7
            max_tokens: 256
      models:
        enabled: false
      # Configure the assistant to use our PostgreSQL instance as the Tracker Store, which records the assistant's conversations.
      trackerStore:
        enabled: true
        type: sql
        dialect: postgresql
        url: ${DB_HOST}
        db: ${DB_ASSISTANT_DATABASE}
        username: ${DB_ASSISTANT_USERNAME}
        port: 5432
      # Configure the assistant to use Redis as the Rasa Lock Store.
      # This is needed when you have a high-load scenario that requires the Rasa server to be replicated across multiple instances. It ensures that even with multiple servers, the messages for each conversation are handled in the correct sequence without any loss or overlap.
      lockStore:
        enabled: true
        type: concurrent_redis
        port: 6379
        url: ${REDIS_HOST}
        username: ${REDIS_USER}
        use_ssl: true
        key_prefix: ${NAME}
        deployment_mode: "cluster"
      # Configure the assistant to use the Kafka broker. This allows us to perform further processing on the messages, like using the Rasa Studio Conversation View or Rasa Pro Analytics.
      eventBroker:
        enabled: true
        type: kafka
        security_protocol: SASL_SSL
        sasl_mechanism: OAUTHBEARER
        topic: rasa
        url: ${KAFKA_BOOTSTRAP_SERVER}
        ssl_check_hostname: true
        ssl_cafile: AmazonRootCA1.pem
        partition_by_sender: true
  # We'll configure Rasa to use Google Cloud Storage for remote storage, so we can load models from the buckets we created earlier.
  additionalArgs:
    - --remote-storage
    - aws
    - --model
    - 20250924-160621-succulent-ravelin.tar.gz
    - --debug
    - --enable-api
  # Define the environment variables that Rasa needs to function and interact with the above services.
  # Note here that some of the values are plaintext environment variables and some are configured to be pulled from the Kubernetes Secret we created earlier.
  additionalEnv:
    - name: IAM_CLOUD_PROVIDER
      value: aws
    - name: ELASTICACHE_REDIS_AWS_IAM_ENABLED
      value: "true"
    - name: RDS_SQL_DB_AWS_IAM_ENABLED
      value: "true"
    - name: KAFKA_MSK_AWS_IAM_ENABLED
      value: "true"
    - name: AWS_DEFAULT_REGION
      value: ${AWS_REGION}
    - name: SQL_TRACKER_STORE_SSL_MODE
      value: require
    - name: RASA_ENVIRONMENT
      value: production
    - name: BUCKET_NAME
      value: ${MODEL_BUCKET}
    - name: MODEL_PATH
      value: ${MODEL_PATH}
    - name: DB_HOST
      value: ${DB_HOST}
    - name: DB_DATABASE
      value: ${DB_ASSISTANT_DATABASE}
    - name: DB_USER
      value: assistant
    - name: REDIS_HOST
      value: ${REDIS_HOST}
    - name: REDIS_USER
      value: ${REDIS_USER}
    - name: AWS_ELASTICACHE_CLUSTER_NAME
      value: ${REDIS_CLUSTER_NAME}
    - name: KAFKA_BOOTSTRAP_SERVER
      value: ${KAFKA_BOOTSTRAP_SERVER}
    - name: RASA_PRO_LICENSE
      valueFrom:
        secretKeyRef:
          name: rasa-secrets
          key: rasaProLicense
    - name: OPENAI_API_KEY
      valueFrom:
        secretKeyRef:
          key: openaiApiKey
          name: rasa-secrets
# Disable other Rasa components for now.
# https://rasa.com/docs/reference/integrations/analytics/
rasaProServices:
  enabled: true
  replicaCount: 1
  image:
    repository: "europe-west3-docker.pkg.dev/rasa-releases/rasa-pro/rasa-pro-services"
    pullPolicy: IfNotPresent
    tag: "3.6.0rc1"
  volumeMounts:
    - name: amazon-root-ca
      mountPath: /app/AmazonRootCA1.pem
      subPath: AmazonRootCA1.pem
      readOnly: true
  volumes:
    - name: amazon-root-ca
      secret:
        secretName: msk-ssl-ca
  service:
    type: ClusterIP
    port: 8732
    targetPort: 8732
  serviceAccountName: rasa-analytics
  serviceAccount:
    create: true
    name: rasa-analytics
    annotations:
      eks.amazonaws.com/role-arn: ${SERVICE_ACCOUNT_ANALYTICS}
  loggingLevel: "DEBUG"
  useCloudProviderIam:
    enabled: true
    provider: "aws"
    region: "${AWS_REGION}"
  database:
    enableAwsRdsIam: true
    username: ${DB_ANALYTICS_USERNAME}
    hostname: ${DB_HOST}
    port: ${DB_PORT}
    databaseName: ${DB_ANALYTICS_DATABASE}
    sslMode: "require"
  kafka:
    enableAwsMskIam: true
    brokerAddress: ${KAFKA_BOOTSTRAP_SERVER}
    topic: "rasa"
    dlqTopic: "rasa-events-dlq"
    saslMechanism: "OAUTHBEARER"
    securityProtocol: "SASL_SSL"
    sslCaLocation: "AmazonRootCA1.pem"
  additionalEnv:
    - name: RASA_PRO_LICENSE
      valueFrom:
        secretKeyRef:
          name: rasa-secrets
          key: rasaProLicense
    - name: PORT
      value: "8732"

# https://rasa.com/docs/action-server
actionServer:
  enabled: false
# https://rasa.com/docs/reference/integrations/tracing
tracing:
    enabled: false